<div class="home__container">
  <app-card
    gameCover="https://image.api.playstation.com/vulcan/img/rnd/202011/0713/WSZqsrnejjt85wYmUqeBQvMQ.png?w=440&thumb=false"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 49,75"
  >
  </app-card>

  <app-card
    gameCover="https://image.api.playstation.com/vulcan/img/rnd/202011/1018/SGqMZHd7WWmN4XIcLfYMxJsc.png"
    gameLabel="MAIS VENDIDO"
    gameType="DISC | PS4"
    gamePrice="R$ 99,50"    
  >
  </app-card>

  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202106/2322/c16gs6a7lbAYzPf7ZTikbH1c.png?w=440&thumb=false"
    gameLabel="VERSÃO DO DIRETOR"
    gameType="DIGITAL | PS4 PS5"
    gamePrice="R$ 299,90"    
  >
  </app-card>

  <app-card
    gameCover="https://image.api.playstation.com/vulcan/ap/rnd/202305/0323/a6963ea63424c384dd3ff4d2126fa4a52080eefcabb2eeab.png?w=440&thumb=false"
    gameLabel="LANÇAMENTO"
    gameType="DIGITAL | PS4 PS5"
    gamePrice="R$ 299,90"    
  >
  </app-card>
</div>

