<div class="menu-bar__container">
  <div class="menu-bar__logo">
    <img 
       src="assets/ps-logo.png" 
       alt="playstation logo"
       srcset=""
       width="140px"
       height="32px"
    >
  </div>
  <div class="menu-bar__item">
    <ul>
        <li><a href="https://www.youtube.com/@xrxholms">YOUTUBE</a></li>
        <li><a href="https://www.facebook.com/andre.oliveira886/">FACEBOOK</a></li>
        <li><a href="https://github.com/thenoobcoder86">GITHUB</a></li>
    </ul>
  </div>
</div>
